body {
  padding: 0;
  margin: 0;
}
.bar p {
  margin-top: 0;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #612b21;
  padding: 1rem 2rem;
  color: #ffffff;
  height: 30px;
}
.items a {
  padding-left: 1.5rem;
  text-decoration: none;
  color: white;
}
.items a:hover {
  color: black;
  background: #ffffff;
  border: 1px solid black;
}
.show {
  background: url(images/photo1.jpg) no-repeat center center/cover;
  height: 600px;
  position: relative;
}
.conten {
  margin-top: 0;
  position: absolute;
  left: 200px;
  top: 200px;
}
.fir {
  background: #612b21;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 50px;
}
.sec {
  background: #612b21;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 50px;
}
.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  place-items: center;
  margin-inline-start: 25rem;
  position: absolute;
  top: 620px;
  background: #ffffff;
  width: 50vw;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
hr {
  height: 100%;
}
.up select {
  border: none;
}
#book {
}
.room {
  margin: 7rem 3rem 0rem 3rem;
  position: relative;
  background: lightgray;
}
.afr {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.afr-box {
  background: #ffffff;
  height: 300px;
  padding: 2rem 3rem 0 2rem;
  line-height: 30px;

  margin-left: 6rem;
  margin-right: -4rem;
  z-index: 1;
  margin-top: 5rem;
}
.buttonone {
  background: #612b21;
  color: #ffffff;
  border: none;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}
.roo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.ro .to img {
  width: 500px;
  height: 500px;
}
.to1 {
  position: absolute;
}
.img22 {
  height: 700px;
  overflow: hidden;
}
/* media quuries */
@media (max-width: 500px) {
  .bar {
    max-width: 100vw;
  }
  .show {
    width: 100vw;
  }
}
